{% extends "base.html" %}

{% block header %}
  <title>treff</title>
{% endblock %}

{% set data = [
    [4, [2023, "12", "02", "8pm"], "kristofer svensson", "nmz, viehofer pl.18, essen", "", ""],
    [3, [2023, "10", "21", "8pm"], "miki yui", "nmz, viehofer pl.18, essen", "", "miki"],
    [2, [2023, "06", "02", "8pm"], "ángeles rojas", "nmz, viehofer pl.18, essen", "", "angeles"],
    [1, [2023, "05", "12", "8pm"], "bernardo cruz", "nmz, viehofer pl.18, essen", "", "bernardo"],
] %}
{% set mapping = {"index": 0, "date": 1, "name": 2, "room": 3, "food": 4, "subpage": 5} %}
{% set type_to_column_count = {
        "index": 2,
        "date": 3,
        "name": 3,
        "room": 3,
        "food": 4
} %}
{% set count_to_name = {
    1: "one",
    2: "two",
    3: "three"
} %}
{% set order = "date index name room food".split(" ") %}

{% block bodyb %}

    <div class="dcontainer">
        {% for item in data %}
            {% set subpage = item[mapping["subpage"]] %}
            {% if subpage %}
                <a href="{{ SITEURL }}/{{ subpage }}">
            {% endif %}
            <div class="row drow">
                {% for column_name in order %}
                    <div class="{{ count_to_name[type_to_column_count[column_name]] }} columns">
                        {% set e = item[mapping[column_name]] %}
                        {% if column_name == "date" %}
                            {% set e = (e[0] | string) + "/" + e[1] + "/" + e[2] + ", " + e[3] %}
                        {% elif column_name == "index" %}
                            {% set e = "treff" + (e | string) %}
                        {% endif %}
                        <p{% if column_name == "name" and subpage %} class="aunderline"{% endif %}>
                            {{ e }}
                        </p>
                    </div>
                {% endfor  %}
            </div>
            {% if subpage %}
                </a>
            {% endif %}
        {% endfor %}
    </div>

    <div class="row">
      <div class="six columns">
        <p>
            musizieren ist eine soziale praxis; ein ereignis was sich innerhalb &amp; zwischen menschen ereignet.
            <!--die reihe treff moechte einen raum schaffen, in dem experimentelle musik eine andere soziale praxis lebt.--!>
            in der kleinen <a class="aunderline" href="https://www.gnm.ruhr/nmzentrale">nmz</a> versammeln sich in jedem 'treff' menschen.
            in intimer, heimischer atmosphaere spielen manche dieser menschen, mal gemeinsam, mal vereinzelt.
            nach oder zwischen dem spiel sind alle anwesende auf eine gemeinsame mahlzeit eingeladen. im spielen hier existiert keine buehne.
            besuchende verteilen sich wie spielende im raum.
            das spielen selbst mag kompositionen beinhalten.
            das format ermoeglicht aber auch formen des musizierens zu leben, denen andere plattformen fehlen: musiker:innen die mitmenschen im raum zum mitsingen einladen, composer-performer die eigene werke spielen, comprovisations jenseits von idiomen des jazz’ oder der freien improvisation, arbeiten zwischen klangkunst &amp; instrumentenbau.
        </p>
        <p>
        'treff' ist eine veranstaltung der <a class="aunderline" href="https://gnm.ruhr">gesellschaft fuer neue musik ruhr e.V.</a> &amp; wird vom <a class="aunderline" href="https://www.essen.de/leben/kultur_/ansprechpartner_.de.html">kulturamt der stadt essen</a> gefoerdert.
        </p>
      </div>
      <div class="one columns">
      </div>
      <div class="six columns">
        <p>
        musicking is a social practice; an event that takes place within &amp; between people. in the small <a class="aunderline" href="https://www.gnm.ruhr/nmzentrale">nmz</a>, people gather in every 'treff'. in an intimate, homely atmosphere, some of these people play, sometimes together, sometimes individually. after or between the playing, everyone present is invited to a common meal. in playing here, there is no stage. visitors are distributed around the room like players. the playing itself may contain compositions. but the format also allows forms of music-making to live that lack other platforms: musicians inviting people in the room to sing along, composer-performers playing their own works, comprovisations beyond idioms of jazz or free improvisation, or works between sound art &amp; instrument building.
        </p>
        <p>
        'treff' is organised by the <a class="aunderline" href="https://gnm.ruhr">gesellschaft fuer neue musik ruhr e.V.</a> &amp; is funded by the <a class="aunderline" href="https://www.essen.de/leben/kultur_/ansprechpartner_.de.html">cultural office of the city of essen</a>.
        </p>
      </div>
    </div>
{% endblock %}
