@font-face {
    font-family: "pica";
    src: url('/theme/font/Pica_10_Pitch_Regular.otf');
}

body {
    font-family: "pica";
    background-color: #fffff0;
}

h1 {
    font-size: 7.95vh;
}

p {
    font-size: 2vh;
}

a {
    text-decoration: none;
    color: #F65D13;
}
a:hover {
    text-decoration: none;
    color: #fc854c;
}
a:visited { text-decoration: none; }
a:active { text-decoration: none; }

.mainc {
    width: 80%;
    margin-top: 8vh;
    margin-bottom: 9vh;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}


.column {
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vw;
    padding-right: 0vw;
}

.columns {
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding-top: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vw;
    padding-right: 0vw;
}

.row {
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 0vw;
    margin-right: 0vw;
    padding-top: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vw;
    padding-right: 0vw;
}


.div {
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 0vw;
    margin-right: 0vw;
    padding-top: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vw;
    padding-right: 0vw;
}

.drow {
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 0vw;
    padding-left: 0vw;
}

.drow {
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 0vw;
    padding-left: 0vw;
}

.dcontainer {
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.en-column {
    margin-top: 5vh;
}
