@font-face {
    font-family: "pica";
    src: url('/theme/font/Pica_10_Pitch_Regular.otf');
}

body {
    font-family: "pica";
}

h1 {
    font-size: 4vh;
}

p {
    font-size: 4vh;
}

.mainc {
    margin-top: 8vh;
    margin-bottom: 9vh;
    margin-left: 15vw;
    margin-right: 15vw;
}
